<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.mapper.OrderVoMapper">

    <resultMap id="BaseResultMap" type="orderVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderType" column="order_type" jdbcType="INTEGER"/>
        <result property="orderAction" column="order_action" jdbcType="INTEGER"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="payment" column="payment" jdbcType="INTEGER"/>
        <result property="distributionMode" column="distribution_mode" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        select o.id,
               order_type,
               order_action,
               business_type,
               order_status,
               payment,
               distribution_mode,
               o.create_time
                from t_order o
                left join t_consignee c
                on o.consignee_id = c.id
    </sql>

    <select id="selectOrderVOs"  resultMap="BaseResultMap">

        <include refid="Base_Column_List"/>

        <where>
            <if test="id != null">
                and o.id like concat('%', #{id}, '%')
            </if>
            <if test="orderType != null">
                and order_type = #{orderType}
            </if>
            <if test="payment != null">
                and payment = #{payment}
            </if>
            <if test="businessType != null">
                and business_type = #{businessType}
            </if>
            <if test="startDate != null and endDate != null">
                and create_time between #{startDate} and #{endDate}
            </if>
            <if test="orderAction != null">
                and order_action = #{orderAction}
            </if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
        </where>

    </select>
</mapper>
