<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.shangma.entity.OrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="productNum" column="product_num" jdbcType="INTEGER"/>
            <result property="total" column="total" jdbcType="DECIMAL"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,goods_id,
        product_num,total,create_by,
        create_time,update_time,update_by
    </sql>
</mapper>
